<form action="{{path('panierloc')}}" method="post" >
   
                                    
                                                                {{ form_widget(form) }}
                            <td><button type="submit" class="btn btn-info">Valider</button></td>
                                                            </form>
