
    <td class="cart_price">
<a href=""><img src="{{asset('uploads/' ~vetement.path)}}" height="75" width="75"></a>
							</td>
                                                        
<td class="cart_total">
								<h4><a href="">{{ vetement.nomvet }}</a></h4>
								<p>Web ID: {{ vetement.id }} </p>
							</td>
