{% trans_default_domain 'FOSUserBundle' %}
<section id="form">
    <div class="container">
        
	    	<div class="row"> 
<div class="col-sm-11">                    
		<div class="login-form">    		
                            
                    <h2 class="title text-center"><font color="orange"><B>Changer mot de passe</B></font></h2>
                       
 <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">
   
                                    
{{ form_widget(form) }}

    <div class="form-group col-md-12">
        <button class="btn btn-default" type="submit" >{{ 'change_password.submit'|trans }}</button>
    </div>
         </form>                         
</div> </div></div> </div></section>
