{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="alert alert-success" align="center">email est envoyé avec succés </div>
<section class="title text-center">
       <div class="container">
         <div class="row">
	<div class="col-sm-12">
    <div class="col-sm-12 padding-right">
    <br/>   <br/>  <br/>  
<img src="{{asset('/images/logo.png')}}" width="300" height="200"/>
  <br/><br/><h4 >
{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
</h4>
 </div> </div> </div> </div></section>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock %}