{% trans_default_domain 'FOSUserBundle' %}
<section id="form"><!--form-->
		<div class="container">
                         <h2 class="text-center"><font color="orange">Réinitialiser le mot de passe</font></h2>
			<div class="row">
                       
<div class="col-md-6 col-md-offset-2">
     
<div class="signup-form">
   
{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    {{ form_widget(form) }}
<div>
        <button type="submit"   class="btn btn-default" >{{ 'resetting.reset.submit'|trans }}</button>
    </div>
       </div>
       </div>   
		</div>
	</section>
   
{{ form_end(form) }}
